.root {
  -fx-background-image: url("/img/background.jpg");
  -fx-background-size: cover;
}

.label, .text-field, .button {
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-text-fill: white;
  -fx-font-size: 24px;
}

.text-field {
  -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
  -fx-background-color: #7077A1;
  -fx-border-color: white;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-padding: 10px; 
}

.button {
  -fx-background-color: #7077A1;
  -fx-background-radius: 5px;
}

.button:hover {
  -fx-background-color: #F6B17A;
}

.report {
  -fx-fill: red;
  -fx-font-size: 24px;
}
